.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

mat-card {
  max-width: 800px;
  margin: 0 auto;
}