server:
  port: 8080

spring:
  application:
    name: sistema-psicologia
  
  datasource:
    #url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/psicologia}
    #username: ${SPRING_DATASOURCE_USERNAME:admin}
    #password: ${SPRING_DATASOURCE_PASSWORD:admin123}
    #driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME:org.postgresql.Driver}
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        '[format_sql]': true
  

app:
  jwt:
    secret: ${APP_JWT_SECRET:minha-chave-secreta-super-segura-para-jwt-tokens}
    expiration: 86400000 # 24 horas

management:
  endpoints:
    enabled-by-default: false
  endpoint:
    health:
      enabled: true
  metrics:
    export:
      defaults:
        enabled: false

logging:
  level:
    '[com.psicologia]': DEBUG
    '[org.springframework.security]': DEBUG